/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*.menu-item-bar .menu-item-handle{
	padding: 10px 5px;
}*/
.item-controls {
	right: 10px;
}
.nav-menus-php .item-edit {
    right: 20px !important;
    top: 2px !important;
    width: 107px !important;
    z-index: 999999;
}
span.remove-custom {
    display: inline-block;
    color: #646970;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
}
.nav-menus-php .item-edit:before {
    margin-top : 10px !important;
    margin-left: auto !important;
    width: 20px;
    margin-right: 0;
}
span.remove-custom a{
	color: #646970;
}
span.remove-custom:hover a {
    color: #646970 !important;
}

span.remove-custom a:hover {
    color: #ff2c2c !important;
}